@import url(http://fonts.googleapis.com/css?family=Lobster);

/*html, body {width: 100%}*/
* {box-sizing: border-box}
body {padding: 0; font-family: lobster, arial, sans-serif; background-color:#000000;}

.hero {position: relative; text-align: center}
.hero-content {display: block; position: relative; z-index: 9999}

.parallax {
  display: block;
  text-align: center;
  padding: 10em 1em;
  color: #fff; overflow: hidden
}
.parallax h1 {font-size: 4em; text-shadow: 1px 1px 2px #000000; margin-bottom: 15px; color:#fff;}
.parallax p {font-family: arial, sans-serif; font-size: 1em; text-transform: uppercase; letter-spacing: 0.1em; font-weight: bold; color: #333333; text-shadow: 0 1px 0 rgba(255,255,255,0.5)}

.nyc {background: url(../images/space.jpg) no-repeat center center; background-size: cover;}

.studies {background: url(../images/studying.jpg) no-repeat center center; background-size: cover;}

.experience {background: url(../images/work.jpg) no-repeat center center; background-size: cover;}

.skills {background: url(../images/skills.jpg) no-repeat center center; background-size: cover;}

.other {background: url(../images/other.jpg) no-repeat center center; background-size: cover;}

.goodbye {background: url(../images/vineyard_in_mendoza.jpg) no-repeat center center; background-size: cover;}

.spacer {display: block; color: #fff; font-family: arial, sans-serif; padding: 3em 0}
.spacer h3 {font-family: lobster, sans-serif; font-size: 2em; margin-bottom: 15px}
.spacer p {font-size: 15px; line-height: 22px; margin-bottom: 15px}
button {border: 1px solid #aaa; padding: 0.75em 1.5em; border-radius: 4px; background: none; font-size: 1.25em; color: #555; display: inline-block; margin-right: -5px; vertical-align: top}
button:hover {background: #00ace9; color: #fff; border-color: #00ace9; cursor: pointer}
button.danger {margin-left: 25px; background: #d30; color: #fff; border-color: #d30}
button.danger:hover {background: #a00; border-color: #a00}
.container {max-width: 960px; margin: 0 auto; width: 95%}
.centered {text-align: center; padding-bottom: 3.75em}


.cleft-wrapper {
position: relative;
top: -1.25rem;
margin-bottom: -1.25rem;
left: 0;
width: 100%;
height: 1.25rem;
overflow: hidden;
}
.cleft-left, .cleft-right {
width: 50%;
height: 1.25rem;
background-color: #000000;
position: absolute;
top: 0;
}
.cleft-left {
left: -1.5rem;
}
.cleft-right {
right: -1.5rem;
}
.cleft-left:before, .cleft-right:before {
content: ' ';
display: block;
position: absolute;
width: 0;
height: 0;
border-style: solid;
}
.cleft-left:before {
right: -1.5rem;
border-width: 1.25rem 0 0 1.5rem;
border-color: transparent transparent transparent #000000;
}
.cleft-right:before {
left: -1.5rem;
border-width: 1.25rem 1.5rem 0 0;
border-color: transparent #000000 transparent transparent;
}

.carrotBox {position: relative}
.carrot {
display: block;
height: 0;
width: 0;
border-top: 1.25rem solid #000000;
border-right: 1.5rem solid transparent;
border-left: 1.5rem solid transparent;
position: absolute;
left: 50%;
margin-left: -1.5rem;
bottom: -1.25rem;
}

/*** SKILLS ***/
.graph-cont{
  width: calc(100% - 40px);
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}
.bar{
  font-weight: bold;
  height: 30px;
  max-width: 800px;
  margin: 0 auto 10px auto;
  line-height: 30px;
  font-size: 16px;
  color: white;
  padding: 0 0 0 10px;
  position: relative;
}
.bar::before{
  content: '';
  width: 100%;
  position: absolute;
  left: 0;
  height: 30px;
  top: 0;
  z-index: -2;
  background: #ecf0f1;
}
.bar::after{
  content: '';
  background: #07c357;
  height: 30px;
  transition: 0.7s;
  display: block;
  width: 100%;
  -webkit-animation: bar-before 1 1.8s;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.bar1::after{
  max-width: 85%;
}
.bar2::after{
  max-width: 95%;
}
.bar3::after{
  max-width: 79%;
}
.bar4::after{
  max-width: 86%;
}
.bar5::after{
  max-width: 70%;
}
.bar6::after{
  max-width: 82%;
}
@-webkit-keyframes bar-before{
  0%{
    width: 0px;
  }
  100%{
    width: 100%;
  }
}

/*** SOCIAL ICONS ***/
.social {
  color: white;
  width: 100%;
  /*top: 50%;*/
  text-align: center;
  transform: translateY(-50%);
}

.social .link {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px dashed white;
  background-clip: content-box;
  padding: 10px;
  transition: .5s;
  color: #D7D0BE;
  margin-left: 15px;
  margin-right: 15px;
  text-shadow:
    0 -1px 0 rgba(0, 0, 0, 0.2),
    0 1px 0 rgba(255, 255, 255, 0.2);
  font-size: 70px;
}

.social .link span {
  display: inline-flex;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.social .link:hover {
  padding: 20px;
  color: white;
  margin-left: -5px;
  transform: translateX(10px) rotate(360deg);
}

.social .link.skype {
  background-color: #2196f3;
  color: white;
}
.social .link.linkedin {
  background-color: #4875B4;
  color: white;
}
.social .link.github {
  background-color: #333;
  color: white;
}
.social .link.email {
  background-color: #dd4b39;
  color: white;
}


/*** MY PHOTO ***/
.myphoto .link {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 2px none white;
  background-clip: content-box;
  padding: 10px;
  transition: .5s;
  color: #D7D0BE;
  margin-left: 15px;
  margin-right: 15px;
  text-shadow:
    0 -1px 0 rgba(0, 0, 0, 0.2),
    0 1px 0 rgba(255, 255, 255, 0.2);
  font-size: 70px;
}

.spacer .intro {
  padding: 20px;
  margin-top: 50px;
  display: -webkit-flex;
  display: flex;
}

.myphoto .link.photo {
  background: url(../images/MyPic.jpg) no-repeat center center;
  color: white;
  padding: 10px;
  background-size: cover;
  /*border-radius: 10px 10px;*/
}

.texto {
  -webkit-flex: 1;
  flex: 1;
}

.texto article {
  margin: 0 10px 10px 0px;
  padding: 10px;
  border-radius: 10px;
}

/*** CONTACT DATA ***/
.spacer .contact {

  }
.container .contact {

    text-align: center;
}
.container .map {
  }
.title .map {
  text-align: left;
}

/*** SECTION: ADDRESS ***/
.address {
  box-shadow: 0 7px 16px -2px rgba(0,0,0,.3);
  background: #ffffff;
  background: linear-gradient(to bottom, #ffffff 0%,#f3f3f3 100%);
}
.address h1 {
  display: block;
  margin: 15px 0 5px 30px;
  font: 21px 'Lato';
  font-weight: 900;
  color: #444;
}
.address h2 {
  display: block;
  margin: 0 0 17px 30px;
  font: 12px 'Lato';
  font-weight: 700;
  color: #444;
}


/* Static 1st column & 2 filler columns (chrome, moz, edge, IE10+, safari) */
.flex.static {
  width: 100px;
  padding: 10px;
}

.flex.column {
  -webkit-flex: 1;
  flex: 1;
  background: none;
}

.flex.column article {
  margin: 0 10px 10px 0px;
  padding: 10px;
  background: #F9647E;
}

.flex.column article:last-child {
  margin-bottom: 0;
}